<html>
    <head>
        <title>Film Casting Log</title>
    </head>
    <body>
        <div>
            <h1><a href="/">Film Casting Log</a></h1>
        </div>

        <div>
            <p>published: 12.03.2018, 16:56</p>
            <h2><a href="">My first post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimenum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>

        <div>
            <p>published: 12.03.2018, 16:59</p>
            <h2><a href="">My second post</a></h2>
            <p>Aenean eu leo quam. Pellentesque ornare sem lacinia quam venenatis vestibulum. Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimenum nibh, ut fermentum massa justo sit amet risus.</p>
        </div>
    </body>
</html>